:root {
    --primary-color: #ed1c25;

}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "san-serif";
}

.logo>img {
    height: 2rem;
    padding: 0 5px 0 0;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.header__container {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    padding: 0.7rem 0;
    align-items: center;
}

.logo__name {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
}

.bar {
    display: flex;
}

box-icon {
    padding: 0 5px 0 0;
}

.main-new-product {
    background: url("https://images.unsplash.com/photo-1524805444758-089113d48a6d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2400&q=80") no-repeat;
    background-size: cover;
    height: 42vh;
    width: 100%;
    background-position: 60% 70%;
}

.top-products,
.info-new-product,
.text-new-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.text-new-product>span:nth-child(1) {
    font-size: 2rem;
}

.text-new-product>span {
    margin: 0.2rem 0;
    padding: 0 1.1rem;
}

.text-new-product>span:nth-child(2) {
    line-height: 1.4rem;
}


.buttom-new-product>a {
    text-decoration: none;
    padding: 0.4rem 5rem;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.info-new-product {
    margin-top: -3rem;
}

.text-new-product {
    background: linear-gradient(0deg, #000000 73%, transparent 99%);
}

.buttom-new-product {
    padding: 1rem 0 1.5rem 0;
    background-color: black;
    width: 100%;
}

.feature-top-products {
    box-sizing: border-box;
    width: 100%;
}


.feature-top-product {
    background-size: cover;
    height: 23vh;
    display: flex;
    align-items: flex-end;
    margin: 1.5rem 0.8rem;

}

.text-top-products {
    font-size: 2rem;
    font-weight: 500;
    margin: 4rem 0 3rem 0;
    color: black;
}

.feature-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.button-generic {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.4rem 0;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.feature-content>span {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 1.5rem 0;
}

.brand-new-info {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.brand-new-product {
    height: 46vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
}

.new {
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 6px;
}

.new-title {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.new-subtitle {
    font-weight: 400;
    margin: 0.5rem 0 1rem 0;
    font-size: 1.1rem;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5rem 0 1.5rem 0;
}
.articles-section-container{
    width: 100%;
}

.articles-section{
    height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    .articles-section>span{
        font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    position: absolute;
    }
    .articles-shadow{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    height: 23vh;
    
}

.gift-info{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
 
}
.gift-container{
    text-align: center;
    align-items: center;
    padding: 1rem 0;
    background-position: 35% 10%;
}